@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'RIDIBatang';
  line-height: 180%;
  color:rgba(0, 0, 0, 0.9);
}

